<div class="nested-fields">
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :product_name %>
      <%= link_to_remove_association('Remover', f)%>
    </div>
    <div class="col-xs-3">
      <%= f.input :quantity %>
    </div>
    <div class="col-xs-3">
      <%= f.input :measure %>      
    </div>
  </div>
  <br>
  <br>
</div>